@import "../../sass/vars.scss";
.menu-item{
  position: relative;
  max-height: 350px!important;
  overflow: hidden;
  &__img{
    width: 100%;
    transition: all .3s ease-in-out;
  }
  &__content{
    position: absolute;
    box-sizing: border-box;
    bottom: -100%;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 10px!important;
    background-color: rgba($color: #000000, $alpha: .7);
    transition: all .3s ease-in-out;
    p{
      margin: 5px 0;
      span{
        color: $theme-color-2;
      }
    }
  }
  &__name{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 5px;
    border-bottom: 1px solid $theme-color-2;
  }
  &__description{
    overflow: hidden;
    max-height: 100px;
  }
  &__btn-box{
    padding: 0;
    position: absolute;
    bottom: 10px;
  }
  &__add-btn{
    padding: 10px;
    background-color: $theme-color-2!important;
    color: $theme-color-1!important;
    &:active{
      transform: scale(95%);
    }
  }
  &:hover {
    .menu-item__content{
      bottom: 0;
    }
    .menu-item__img{
      transform: scale(105%);
    }
  }
}