.header{
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #fff!important;
  color: #414141!important;
  &__container{
    display: flex!important;;
    justify-content: space-between;
  }
  .hamburger-btn {
    width: 45px;
    height: 45px;
  }
}

