.nav__footer{
  color: #fff!important;
}
.nav{
  a{
    display: flex;
    text-decoration: none;
  }
  .active{
    button {
      background-color: rgba(0, 0, 0, 0.04); 
    }
  }
}
@media screen and (max-width: 600px) {
  .MuiDrawer-paper{
    width: 90%!important;
  }
}