.filter-lg{
  display: flex;
  flex-direction: row!important;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
}
.filter-mobile{
  display: none;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .filter-lg{
    display: none!important;
  }
  .filter-mobile{
    display: block;
  }
}