body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
//COMMON
.section-header{
  padding: 20px 0;
  h3{
    color: #414141!important;
    font-size: 2rem;
    font-weight: 300;
  }
}