.menu-btn{
  color: $btn-font-color;
  background: $theme-color;
  background: $menu-btn-color;
  padding: 12px 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover{
    transform: scale(120%);
  }
}