@import './vars.scss';
@import './reset.scss';
@import './header.scss';
@import './nav.scss';
@import './common.scss';
@import './hero.scss';
@import './menu-section.scss';

@import './media.scss';

body{
  font-family: Rubik;
  font-size: 10px;
  color: $font-color;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}