@media screen and (max-width: 1200px){
  .container{
    padding: 0 2rem;
  }
}
@media screen and (max-width: 992px){
  .nav{
    position: fixed;
    left: -110%;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 50%;
    background-color: $theme-color-3;
    box-shadow: 0 0 10px;
    display: block;
    transition: all .2s ease-in-out;
    &__list{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;;
      row-gap: 2rem;
    }
  }
  nav.active{
    left: 0;
  }
  .hamburger{
    display: block!important;
  }
  .header__right-side{
    display: none;
  }
  .header__left-side{
    width: 100%;
    justify-content: space-between;
  }
  .footer-menu{
    display: none;
  }
}
@media screen and (max-width: 768px){
  .nav{
    width: 70%;
  }
}
@media screen and (max-width: 576px){
  .nav{
    width: 100%;
  }
}