@media screen and (max-width: 1170px){
  .container{
    padding: 0 2rem;
  }
  .about{
    background-size: cover;
    background-position: -100px 0;
    &__text{
      font-size: 2rem;
    }
  }
}
@media screen and (max-width: 992px){
  .hero{
    &__h2 {
      text-align: center;
    }
  }
  .nav{
    position: fixed;
    left: -110%;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 50%;
    background-color: $theme-color-3;
    box-shadow: 0 0 10px;
    display: block;
    transition: all .2s ease-in-out;
    &__list{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;;
      row-gap: 2rem;
    }
  }
  nav.active{
    left: 0;
  }
  .hamburger{
    display: block!important;
  }
  .header__right-side{
    display: none;
  }
  .header__left-side{
    width: 100%;
    justify-content: space-between;
  }
  .mobile-number{
    display: none;
  }
  .about{
    background-image: none!important;
    min-height: 0;
    &__content{
      width: 100%;
      padding: 0 2rem;
    }
  }
  .footer-menu{
    display: none;
  }
}
@media screen and (max-width: 768px){
  html{
    font-size: 8px!important;
  }
  .nav{
    width: 70%;
  }
  .contact{
    flex-direction: column;
    &__map, &__detail{
      width: 100%;
    }
  }
}
@media screen and (max-width: 576px){
  .hero{
    &__h1{
      border-top: 2px solid $theme-color-3;
      border-bottom: 2px solid $theme-color-3;
      padding: 2rem;
      &::before, &::after{
        display: none;
      }
    }
  }
  .nav{
    width: 100%;
  }
}
@media screen and (max-width: 390px){
  .hero{
    &__h1{
      font-size: 5rem;
    }
  }
}