$font-color: #414141;
$menu-btn-color: linear-gradient(90deg, #0066FF 2.14%, rgba(20, 110, 245, 0.54097) 129.37%, rgba(43, 119, 233, 0.0208334) 162.84%, rgba(43, 119, 233, 0) 162.86%, rgba(90, 143, 222, 0.0208333) 162.86%);
$btn-font-color: #fff;
$menu-btn-color-hover: linear-gradient(90deg, #146ef58a 2.14%, #0066FF 129.37%, rgba(43, 119, 233, 0.0208334) 162.84%, rgba(43, 119, 233, 0) 162.86%, rgba(90, 143, 222, 0.0208333) 162.86%);
$theme-color: #0066FF;